---
import Layout from "./Layout.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
const regardingTimeText = frontmatter.regardingTime
  ? `${frontmatter.regardingTime} min to read`
  : "4 min to read";
---

<Layout pageTitle={frontmatter.title}>
  <article class="blog-content">
    <section class="blog-header">
      <h1>{frontmatter.title}</h1>
      <div class="blog-meta">
        <div class="meta-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="meta-icon"
            ><circle cx="12" cy="12" r="10"></circle><polyline
              points="12 6 12 12 16 14"></polyline></svg>
          <span>{regardingTimeText}</span>
        </div>
        <div class="meta-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="meta-icon"
            ><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line
              x1="16"
              y1="2"
              x2="16"
              y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line
              x1="3"
              y1="10"
              x2="21"
              y2="10"></line></svg
          >
          <time datetime={frontmatter.publishDate}>
            {frontmatter.publishDate}
          </time>
        </div>
      </div>
    </section>
    <div class="container-slot">
      <slot />
    </div>
  </article>
</Layout>

<style is:global>
  .blog-content {
    width: var(--width-container);
    max-width: 1200px;
    margin: 8rem auto;
    padding: 1.2rem 1.3rem;
    font-family: var(--font-text);
    color: var(--color-text);
    line-height: 2;
  }

  .blog-header {
    margin-bottom: 2rem;
  }

  .blog-content h1 {
    font-family: var(--font-title);
    font-size: 4rem;
    color: var(--color-text);
    line-height: 1.1;
    font-weight: 300;
  }

  .blog-meta {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text);
    opacity: 0.8;
    font-size: 1.1rem;
    font-family: var(--font-text);
  }

  .meta-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .meta-icon {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--color-primary);
  }

  /* Markdown elements */
  .blog-content h2 {
    font-family: var(--font-title);
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1;
    margin: 3rem 0 1.5rem 0;
  }

  .container-slot {
    max-width: 800px;
    margin: 0 auto;

    & p {
      font-size: 1.4rem;
      line-height: 1.5;
      text-align: left;
      margin: 1rem 0;
    }

    & li {
      margin-left: 20px;
    }
  }

  @media (width < 1200px) {
    .blog-content {
      width: 100%;
    }
  }

  @media (width < 600px) {
    .container-slot {
      width: 100%;

      & p {
        font-size: 1.4rem;
      }
    }

    .blog-content h1 {
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 0.7rem;
    }

    .blog-meta {
      gap: 1rem;
    }

    .blog-content h2 {
      font-size: 2rem;
    }
  }
</style>
