---
import Layout from "./Layout.astro";
import IconSvg from "../components/icon/IconSvg.astro";

const { content, frontmatter } = Astro.props;
const regardingTimeText = frontmatter.regardingTime ? `${frontmatter.regardingTime} min de lectura`: "7 minutos de lectura"
---

<Layout pageTitle={frontmatter.title}>
  <article class="blog-content">
    <h1>{frontmatter.title}</h1>
    <p class="blog-meta">
      <span
        >{regardingTimeText}
        <IconSvg/>
        </span>
        <time datetime={frontmatter.publishDate}>
      Publicado: {frontmatter.publishDate}
      </time>
    </p>
    <slot />
  </article>
</Layout>

<style is:global>
  .blog-content {
    max-width: 800px;
    margin: 8rem auto;
    padding: 1.2rem 1.3rem;
    font-family: var(--font-text);
    line-height: 2;
  }

  .blog-content h1 {
    font-family: var(--font-title);
    font-size: 4.6rem;
    color: var(--color-text);
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  .blog-meta {
    text-align: center;
    color: var(--color-text);
    opacity: 0.8;
    margin-bottom: 2rem;
    font-size: 0.9rem;
  }

  /* Markdown elements */
  .blog-content h2 {
    font-family: var(--font-title);
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1;
    margin: 2rem 0 1rem 0;
  }

  .blog-content p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  .blog-content strong {
    color: var(--color-primary);
    font-weight: 600;
  }

  @media (width < 500px) {
    .blog-content h1 {
      font-size: 2.5rem;
      font-weight: 300;
    }

    .blog-content h2 {
      font-size: 1.8rem;
    }
  }

</style>
